// bs-header

.bs-header {
    position: fixed;
    z-index: 2;
    height: get-vw(73px);
    top: 0;
    left: 0;
    right: 0;
    background-color: $clr-white;
    box-shadow: 0px 3px 8px rgba(117, 117, 117, 0.0837579);
    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .back-btn {
        .icon {
            display: inline-block;
            width: get-vw(18px);
            height: get-vw(12px);
            background-image: url(../../images/back.svg);
            background-position: center;
            background-size: cover;
        }
    }
    .pg-title {
        margin-left: get-vw(19px);
        font-size: get-vw(16px);
        line-height: get-vw(22px);
        font-weight: $font-black;
        color: $clr-primary;
    }
}