$clr-white:#ffffff;
$clr-default:#FAFAFD;
$clr-primary:#2D2D2D;
$clr-base: #8A8A8A;
$clr-black: #000;
$font-regular:400;
$font-semibold:600;
$font-black:900;

/* font-family */

$font:'Nunito Sans', sans-serif;


/* breakpoints */

$mobile-breakpoint: 768px;
// $mobile-breakpoint: 1023px;
$tablet-breakpoint: 1024px;